*.log
*.db
tts/**
dehydrated/**
www/**
secrets.yaml
known_devices.old*
**__pycache__**
entity_registry.yaml
live.txt
OZW_Log.txt
pyozw.sqlite
*.db-*
*.yaml.save
node_modules/
grafana/*
influxdb/*
mosquitto/*
pihole/*
portainer/*
shared/*
unifi/*
homeassistant/tts/*
/traefik/acme/acme.json
/traefik/*.toml
/scripts/cache/*
/zigbee2mqtt/data/log/*
/shinobi/videos/*
/shinobi/streams/*
/shinobi/database/*
/homeassistant/custom_components/hacs/*
/nodered/data/etc/camera-images/*
/homeassistant/custom_components/*
/traefik_cert_extractor/certs/**
/homeassistant/www/community/*
/homeassistant/www/icons/weather_icons/*
/homeassistant/known_devices.yaml
/nodered/data/etc/settings.js
/homeassistant/config/service_account.json
**/.vscode/*
/homeassistant/.storage/*
/homeassistant/.HA_VERSION
/homeassistant/.shopping_list.json
/nodered/data/etc/.*.json.backup
/nodered/data/etc/settings.js
/nodered/data/etc/.config.json
/nodered/data/etc/flows_cred.json
/scripts/broadlink.py
/scripts/get-energy-usage-data.py
/nginx/images
/zwavejs2mqtt/.config-db/
*.DS_Store
zwavejs2mqtt/settings.json
zwavejs2mqtt/users.json
/nginx/*
